<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let mission of missions | yearFilter:selectedYear">
      <div class="card">
        <div class="card-header">
          {{ mission.mission_name }}
        </div>
        <div class="card-body">
          <p>Mission ID: {{ mission.mission_id }}</p>
          <p>Launch Year: {{ mission.launch_year }}</p>
          <p>Successful Launch: {{ mission.launch_success }}</p>
          <p>Successful Landing: {{ mission.land_success }}</p>
        </div>
      </div>
    </div>
  </div>
</div>